<h1>Add course</h1>

{{#if error}}
  <p class="alert">{{error}}</p>
{{/if}}

<form action="/add" method="POST" novalidate>
  <div class="input-field">
    <input
      id="title"
      name="title"
      type="text"
      class="validate"
      required
      value={{data.title}}
    />
    <label for="title">Name of course</label>
    <span class="helper-text" data-error="enter name"></span>
  </div>

  <div class="input-field">
    <input
      id="price"
      name="price"
      type="number"
      class="validate"
      required
      min="1"
    />
    <label for="price">Price of course</label>
    <span class="helper-text" data-error="enter price"></span>
  </div>

  <div class="input-field">
    <input
      id="img"
      name="img"
      type="text"
      class="validate"
      required
      value={{data.price}}
    />
    <label for="img">URL of picture</label>
    <span class="helper-text" data-error="enter url"></span>
  </div>

  <input type="hidden" name="_csrf" value={{csrf}} value={{data.img}} />

  <button class="btn btn-primary">Add course</button>
</form>